// Variables
// Values
$slick-gutter: 14px;

// Colors
$light-gray: #EFEFEF;
$light-ultra-gray: #FAFAFA;
$light-medium-gray: #F3F3F3;
$medium-gray: #C1C1C1;
$dark-gray: #676767;
$slick-green: #009444;
$light-green: #C9E4A6;
$light-ultra-green: #DDF1C5;
$red: #A03B3B;
$slick-blue: #337ab7;
