@import '../fonts/fonts';
@import 'grid';
@import 'base';

// Mixins
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Variables
// Values
$slick-gutter: 14px;

// Colors
$light-gray: #EFEFEF;
$light-ultra-gray: #FAFAFA;
$light-medium-gray: #F3F3F3;
$medium-gray: #C1C1C1;
$slick-green: #009444;
$light-green: #C9E4A6;
$red: #A03B3B;

// Base
body {
	background: $light-gray;
}

a {
	text-decoration: none;
}

input, textarea {
    font-family: GothamLightRegular;
}

// Login
#login, #home {
    height: 100%;
    
    .login-grid {
        height: 100%;
        
        .login-left {
            -webkit-box-flex: 0 0 352px;
            -webkit-flex: 0 0 352px;
            -ms-flex: 0 0 352px;
            flex: 0 0 352px;
            align-self: stretch;
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #FFF;
            
            img {
                height: 60px;
            }
        }
        
        .login-right {
            align-self: stretch;
            align-items: center;
            display: flex;
        }
        
        .login-form {
            background-color: #D9ECC1;
            display: block;
            margin-left: 116px;
        }

        input[type="text"], input[type="password"] {
            background: transparent;
            border: none;
            padding: 0px 28px;
            margin: 0px;
            line-height: 60px;
            font-family: GothamLightRegular;
            font-size: 1.1em;
            
            &::-webkit-input-placeholder {
                color: #6D6D6D;
            }
            
        }
        
        .btn.login {
            border: none;
            text-indent: 1000px;
            overflow: hidden;
            display: block;
            float: right;
            width: 60px;
            height: 60px;
            background-image: url('../img/btn-right-arrow.svg');
            cursor: pointer;
        }

        #welcome-default-admin {
            margin-left: 116px;
            padding-bottom: 180px;

            h1 {
                font-size: 6em;
            }

            .input-grid {
                margin-top: 60px;
            }

            .login-default-step {
                padding-top: $slick-gutter / 2;
                flex: 0 0 60px;
                height: 120px;
                color: #FFF;
                background: $slick-green;

                h2 {
                    text-align: center;
                    font-size: 2.625em;
                }
            }

            .login-inputs {
                .full {
                    width: 100%;
                }

                .half {
                    width: 50%;
                    float: left;
                }
            }

            .btn {
                width: 120px;
                height: 120px;
                background: green;
                border: 0;
                color: #fff;
                font-family: GothamLightRegular;
                text-transform: uppercase;
                font-size: 1em;
            }

            .three-input-height {
                .login-default-step, .btn {
                    height: 180px;
                }
            } 

        }
        
    }
}



// All Pages
.author-wrap {
    margin-left: 176px;
    min-height: 100%;
    margin-bottom: -72px;
}

// Page Specific
#home {
    .content {
        padding: 0 $slick-gutter * 2;
    }
}

// Main Menu
nav {
	background: #FFF;
    position: fixed;
    width: 176px;
    top: 0;
    bottom: 0;
    font-size: .875em;

    #author-home {
	    height: 60px;
	    margin: $slick-gutter * 2;
	    display: block;
	}

	.menu {
		list-style: none;
    	margin: 0px;
    	padding: 0px;
    	letter-spacing: .375rem;
    	text-align: center;

    	li {
		    
		    a {
				line-height: 60px;
				text-transform: uppercase;
				color: $medium-gray;
				display: block;
				transition: background-color 0.24s ease;

				&:hover {
				    background-color: $slick-green;
				    text-decoration: none;
				    color: #FFF;
				}
			}

		}
	}
}

// Page Headers
header {
    padding: $slick-gutter * 2;
    @include clearfix;

    h1.title, .user-info, ul li a {
        line-height: 3.75rem;
        float: left;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        li {
            display: block;            
            
            a {
                display: block;
                padding: 0 $slick-gutter;
            }
        }
    }
    
    .user-info {
        float: right;
    }
    
}

// Components
.button {
    line-height: 60px;
    display: inline-block;
    border: none;
    font-size: 1em;
    
    &.square {
        width: 60px;
        height: 60px;
    }

    &.bg-green {
        background-color: $slick-green;
        color: $light-green;
    }
}

#messages {
    position: fixed;
    width: 100%;
    bottom: 0;
    
    .message {
        padding: $slick-gutter * 2;
        text-transform: uppercase;
        
        opacity: 0;
        -moz-transition: opacity .25s ease;
        -webkit-transition: opacity .25s ease;
        transition: opacity .25s ease;
        
        &.success {
            background: rgba(201, 228, 166, 0.92);
            color: $slick-green;
        }
        
        &.info {
            background: rgba(165, 226, 249, 0.92);
            color: rgb(0,173,238);
        }
        
        &.failure {
            background: rgba(204, 146, 146, 0.92);
            color: $red;
        }
        
        &.show {
            opacity: 1;
        }
        
    }
}

.sub-head {
    background: $light-medium-gray;
    line-height: 60px;
    padding: 0 $slick-gutter * 2; 
}



// List Screen

// Edit Screen

#title-section, #seo-section {
    
    position: relative;
    
    input {
        background: $light-medium-gray;
        border: none;
        padding: 0 $slick-gutter * 2;
        display: block;
        width: 100%;
        line-height: 60px;
        font-size: 1.25em;
    }
    
    .seo {
        position: absolute;
        right: 0;
        top: 0;
        background: $light-green url("../img/button-seo.svg") no-repeat;
        text-indent: 1000px;
        overflow: hidden;
    }
    
    .edit-label-input  {
        label {

            a {
                color: $slick-green;
            }

        }
    
        input {
            background: transparent;
            line-height: inherit;
            padding-bottom: 6px;
        }        
    }
}

#seo-section {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    
    &.open {
        max-height: 500px;
    }
    
    label {
        display: block;
        padding: $slick-gutter / 2 $slick-gutter * 2;
        text-transform: uppercase;
        font-family: GothamMediumRegular;
        color: #8A8A8A;
    }
    
    #tag-section {
    	padding: 0 $slick-gutter * 2;
    	#tag-input {
    		display: inline-block;
    		margin: 0 14px 14px 0;
    	
    		input {
    			display: inline-block;
    			line-height: 30px;
    			font-size: 1em;
    			width: auto;
    			padding: 0px;
    			
    		}
    		
    		a {
    				display: block;
    				float: right;
    				text-indent: 1000px;
    				overflow: hidden;
    				height: 30px;
    				width: 32px;
    				background: url("../img/btn-tag-add.svg") 50% no-repeat;
    			}
    	}
    	.finished-tag {
    		display: inline-block;
    		padding: 0 0 0 10px;
    		background: rgba(165, 226, 249, 0.92);
    		margin-right: $slick-gutter;
    		margin-bottom: 14px;
            
    		label {
    			display: inline-block;
    			padding: 0;
    			font-family: GothamLightRegular;
    			text-transform: none;
    			line-height: 30px;
    			color: #000;
    			
    			a {
    				display: block;
    				float: right;
    				text-indent: 1000px;
    				overflow: hidden;
    				height: 30px;
    				width: 32px;
    				background: url("../img/btn-tag-remove.svg") 50% no-repeat;
    			}
    			
    		}
    	
    		input {
    			display: none;
    		}
    	
    		
    	}
    }
}

#editor {
    width: 100%;
    border: none;
    background: $light-ultra-gray;
    padding: $slick-gutter * 2;
    font-size: 1em;
}

// Footer