@import '../fonts/fonts';
@import 'grid';
@import 'base';
@import 'variables';
@import 'rome';

// Mixins
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Base
body {
	background: $light-gray;
}

a {
	text-decoration: none;
}

input, textarea {
    font-family: GothamLightRegular;
}

// Login
#login, #home {
    height: 100%;
    
    .login-grid {
        height: 100%;
        
        .login-left {
            -webkit-box-flex: 0 0 352px;
            -webkit-flex: 0 0 352px;
            -ms-flex: 0 0 352px;
            flex: 0 0 352px;
            align-self: stretch;
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #FFF;
            
            img {
                height: 60px;
            }
        }
        
        .login-right {
            align-self: stretch;
            align-items: center;
            display: flex;
        }
        
        .login-form {
            background-color: #D9ECC1;
            display: block;
            margin-left: 116px;
        }

        input[type="text"], input[type="password"] {
            background: transparent;
            border: none;
            padding: 0px 28px;
            margin: 0px;
            line-height: 60px;
            font-family: GothamLightRegular;
            font-size: 1.1em;
            
            &::-webkit-input-placeholder {
                color: #6D6D6D;
            }
            
        }
        
        .btn.login {
            border: none;
            text-indent: 1000px;
            overflow: hidden;
            display: block;
            float: right;
            width: 60px;
            height: 60px;
            background-image: url('../img/btn-right-arrow.svg');
            cursor: pointer;
        }

        #welcome-default-admin {
            margin-left: 116px;
            padding-bottom: 180px;

            h1 {
                font-size: 6em;
            }

            .input-grid {
                margin-top: 60px;
            }

            .login-default-step {
                padding-top: $slick-gutter / 2;
                flex: 0 0 60px;
                height: 120px;
                color: #FFF;
                background: $slick-green;

                h2 {
                    text-align: center;
                    font-size: 2.625em;
                }
            }

            .login-inputs {
                .full {
                    width: 100%;
                }

                .half {
                    width: 50%;
                    float: left;
                }
            }

            .btn {
                width: 120px;
                height: 120px;
                background: green;
                border: 0;
                color: #fff;
                font-family: GothamLightRegular;
                text-transform: uppercase;
                font-size: 1em;
            }

            .three-input-height {
                .login-default-step, .btn {
                    height: 180px;
                }
            } 

        }
        
    }
}



// All Pages
.author-wrap {
    margin-left: 176px;
    min-height: 100%;
    margin-bottom: -72px;
}

// Page Specific
#home {
    .content {
        padding: 0 $slick-gutter * 2;
    }
}

// Main Menu
nav {
	background: #FFF;
    position: fixed;
    width: 176px;
    top: 0;
    bottom: 0;
    font-size: .875em;

    #author-home {
	    height: 60px;
	    margin: $slick-gutter * 2;
	    display: block;
	}

	.menu {
		list-style: none;
    	margin: 0px;
    	padding: 0px;
    	letter-spacing: .375rem;
    	text-align: center;

    	li {
		    
		    a {
				line-height: 60px;
				text-transform: uppercase;
				color: $medium-gray;
				display: block;
				transition: background-color 0.24s ease;

				&:hover {
				    background-color: $slick-green;
				    text-decoration: none;
				    color: #FFF;
				}
			}

		}
	}
}

// Page Headers
header {
    padding: $slick-gutter * 2;
    @include clearfix;

    h1.title, .user-info, ul li a {
        line-height: 3.75rem;
        float: left;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        li {
            display: block;            
            
            a {
                display: block;
                padding: 0 $slick-gutter;
            }
        }
    }
    
    .user-info {
        float: right;
    }
    
}

// Components
.button {
    line-height: 60px;
    display: inline-block;
    border: none;
    font-size: 1em;
    
    &.square {
        width: 60px;
        height: 60px;
    }

    &.bg-green {
        background-color: $slick-green;
        color: $light-green;
    }
}

#messages {
    position: fixed;
    width: 100%;
    bottom: 0;
    
    .message {
        padding: $slick-gutter * 2;
        text-transform: uppercase;
        
        opacity: 0;
        -moz-transition: opacity .25s ease;
        -webkit-transition: opacity .25s ease;
        transition: opacity .25s ease;
        
        &.success {
            background: rgba(201, 228, 166, 0.92);
            color: $slick-green;
        }
        
        &.info {
            background: rgba(165, 226, 249, 0.92);
            color: rgb(0,173,238);
        }
        
        &.failure {
            background: rgba(204, 146, 146, 0.92);
            color: $red;
        }
        
        &.show {
            opacity: 1;
        }
        
    }
}

.sub-head {
    background: $light-medium-gray;
    line-height: 60px;
    padding: 0 $slick-gutter * 2; 
}



// List Screen

.list-items {
    article {
        padding: 0 $slick-gutter * 2;
        transition: background-color 0.24s ease;

        h1, h2 {
            font-size: 1.2em;
            line-height: 60px;
        }

        &:hover {
            background-color: #e6e6e6;
        }
    }
}

// Media List
#upload-form {
    display: block;
    float: left;
    width: 240px;
    height: 240px;
    position: relative;

    #media-upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    #media-upload + label {
        text-align: center;
        padding: 0;
        line-height: 240px;
        background-color: #FFF;
        color: $slick-green;
        display: block;
        cursor: pointer;
        width: 100%;
    }
    #image-preview {
        display: none;

        &.open {
            max-width: 140%;
            display: block;
            position: absolute;
            opacity: 1;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: opacity .125s;

            &:hover {
                opacity: .2;
            }
        }
    }
    .button {
        display: none;
        width: 100%;
        padding: 0 $slick-gutter;
        position: absolute;
        bottom: 0;

        &.open {
            display: block;
        }
    }
}

.media-box {
    position: relative;
    width: 240px;
    height: 240px;
    float: left;
    overflow: hidden;

    .image-url {
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 60px;
        background-color: rgba(255,255,255,.8);
        display: none;
        white-space: nowrap;
    }

    &:hover {
        .image-url {
            display: block;
        }
    }
}


// Edit Screen

#content-editor {
    position: relative;
}

#title-section, #seo-section {
    
    position: relative;
    
    input {
        background: $light-medium-gray;
        border: none;
        padding: 0 $slick-gutter * 2;
        display: block;
        width: 100%;
        line-height: 60px;
        font-size: 1.25em;
    }
    
    .seo {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $light-green;
        background-image: url("../img/button-seo.svg");
        background-size: 60px;
        text-indent: 1000px;
        overflow: hidden;

        &:hover {
            background-color: lighten($light-green, 5%);
        }
    }
    
    .edit-label-input  {
        label {

            a {
                color: $slick-green;
            }

        }
    
        input {
            background: transparent;
            line-height: inherit;
            padding-bottom: 6px;
        }        
    }
}

#seo-section {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    
    &.open {
        max-height: 500px;
    }
    
    label {
        display: block;
        padding: $slick-gutter / 2 $slick-gutter * 2;
        text-transform: uppercase;
        font-family: GothamMediumRegular;
        color: #8A8A8A;
    }
    
    #tag-section {
    	padding: 0 $slick-gutter * 2;
    	#tag-input {
    		display: inline-block;
    		margin: 0 14px 14px 0;
    	
    		input {
    			display: inline-block;
    			line-height: 30px;
    			font-size: 1em;
    			width: auto;
    			padding: 0px;
    			
    		}
    		
    		a {
    				display: block;
    				float: right;
    				text-indent: 1000px;
    				overflow: hidden;
    				height: 30px;
    				width: 32px;
    				background: url("../img/btn-tag-add.svg") 50% no-repeat;
    			}
    	}
    	.finished-tag {
    		display: inline-block;
    		padding: 0 0 0 10px;
    		background: rgba(165, 226, 249, 0.92);
    		margin-right: $slick-gutter;
    		margin-bottom: 14px;
            
    		label {
    			display: inline-block;
    			padding: 0;
    			font-family: GothamLightRegular;
    			text-transform: none;
    			line-height: 30px;
    			color: #000;
    			
    			a {
    				display: block;
    				float: right;
    				text-indent: 100em;
    				overflow: hidden;
    				height: 30px;
    				width: 32px;
    				background: url("../img/btn-tag-remove.svg") 50% no-repeat;
    			}
    			
    		}
    	
    		input {
    			display: none;
    		}
    	
    		
    	}
    }
    
    .featured-image {
	    max-width: 200px;
	    display: block;
	    padding: 0px 28px;
	    box-sizing: content-box;
	}
}

// wysiwyg5x editor

#wysihtml5-editor-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: $light-green;

    header {
        padding: 0;
    }

    [data-wysihtml5-command],
    [data-wysihtml5-action],
    .fore-color {
      position: relative;
      list-style: none;
      font-size: 12px;
      display: block;
      cursor: pointer;
      height: 60px;
      width: 60px;
      transition: background-color 0.24s ease;

      &:hover {
        background-color: rgba(255,255,255,.25);
      }

    }

    [data-wysihtml5-command='bold'] {
        background: url('../img/author/icon-bold.svg') center no-repeat;
    }

    [data-wysihtml5-command='italic'] {
        background: url('../img/author/icon-italic.svg') center no-repeat;
    }

    [data-wysihtml5-command='insertUnorderedList'] {
        background: url('../img/author/icon-ul.svg') center no-repeat;
    }

    [data-wysihtml5-command='insertOrderedList'] {
        background: url('../img/author/icon-ol.svg') center no-repeat;
    }

    [data-wysihtml5-command='createLink'] {
        background: url('../img/author/icon-link.svg') center no-repeat;

        &.wysihtml5-command-dialog-opened {
            background: #cc8579 url('../img/author/icon-link-opened.svg') center no-repeat;
        }
    }

    [data-wysihtml5-command='insertImage'] {
        background: url('../img/author/icon-image.svg') center no-repeat;

        &.wysihtml5-command-dialog-opened {
            background: #cc8579 url('../img/author/icon-image-opened.svg') center no-repeat;
        }
    }

    [data-wysihtml5-command-value='h1'] {
        background: url('../img/author/icon-h1.svg') center no-repeat;
    }

    [data-wysihtml5-command-value='h2'] {
        background: url('../img/author/icon-h2.svg') center no-repeat;
    }

    [data-wysihtml5-action='change_view'] {
        background: url('../img/author/icon-toggle.svg') center no-repeat;
    }

    [data-wysihtml5-dialog='createLink'], [data-wysihtml5-dialog='insertImage'] {
        position: relative;
        
        .dialog-container {
            position: absolute;
            right: 60px;
            top: -60px;
            height: 60px;
            width: 400px;
            background: #f3f3f3;

            input {
                padding: 0 20px;
                position: absolute;
                top: 0;
                right: 60px;
                bottom: 0;
                width: 100%;
                background-color: $light-gray;
                border: none;
                outline: none;
                font-size: 1em;
            }

            a {
                display: block;
                float: right;
                font-size: 1em;
                width: 60px;
                height: 60px;
                background-color: $slick-green;
                color: $light-green;
                font-size: 1em;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}



#editor, .editor-area.wysihtml5-editor {
    width: 100%;
    min-height: 600px;
    border: none;
    background: $light-ultra-gray;
    padding: $slick-gutter * 2 88px $slick-gutter * 2 $slick-gutter * 2;
    font-size: 1em;
    outline: none;

    p {
        margin-top: 0;
    }

    img {
        max-width: 50%;
    }

}

// Editor Publish Section
#publish-section {
    position: relative;

    #calendar-toggle {
        width: 60px;
        height: 60px;
        background: #C9E4A6 url('../img/author/icon-calendar.svg');
        border: none;
        text-indent: -1000px;
        overflow: hidden;
        cursor: pointer;
        float: right;
    }

    #dateInput {
        height: 60px;
        line-height: 60px;
        border: none;
        display: block;
        float: right;
        padding: 0;
        font-size: 1.2em;
        width: 0px;
        overflow: hidden;
        transition: all .25s;

        &.open {
            width: 212px;
            padding: 0 $slick-gutter;
        }
    }

    .button {
        height: 60px;
        min-width: 140px;
        display: block;
        float: right;
    }
}

// Settings Form
#settings-form {
    label {
        display: block;
        padding: 7px 28px 0px;
        text-transform: uppercase;
        font-family: GothamMediumRegular;
        color: #8A8A8A;
    }

    input[type="text"], textarea {
        display: block;
        border: none;
        background: transparent;
        width: 100%;
        padding: 0px $slick-gutter * 2;
        font-size: 1.2em;
    }

    textarea {
        padding: 20px $slick-gutter * 2;
        height: 120px;
    }

    input {
        line-height: 60px;
    }

    .checkbox {
        padding: 0px $slick-gutter * 2;
        line-height: 60px;

        input[type="checkbox"] {
            margin: 0;
            padding: 0;
        }

        label {
            padding: 0;
        }
        
    }

}

// Pagination
.pagination {
    padding: $slick-gutter 0;
    clear: both;
    text-transform: uppercase;

    .view-newer, .view-older {
        line-height: 30px
    }
}

// Footer