.Bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

#home {
    background-image: url('../img/portfolio/pixel-home.jpg');
    
    .Bg {
        background-image: url('../img/portfolio/bg-home.jpg');
        background-position: bottom left;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.white-dot {
    background-image: url('../img/portfolio/bg-white-dot.svg');
    background-size: 3px 3px;
}

.white-dot-right {
    background-image: url('../img/portfolio/bg-white-dot.svg');
    background-size: 3px 3px;
    color: black;
    mix-blend-mode: screen;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

#link-github, #link-twitter {
    margin: 1em;
    img {
        width: 50px;
        height: 50px;
    }
}

#title {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    
    h1 {
        font-size: 2.875em;
        letter-spacing: .05em;
    }
    
    h2 {
        font-family: GothamThinRegular;
        text-transform: uppercase;
        font-size: 1.5em;
    }
    
    .border-right {
        border-right: 2px solid #FFF;
    }    
    .border-left {
        border-left: 2px solid #FFF;
    }
    
    .main-text {
        padding: 0 2em;
    }
    
    .links {
        font-family: GothamBookRegular;
        text-transform: uppercase;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            a {
                font-size: 1em;
                margin: 2em 0;
                display: block;
                text-decoration: none;
                color: #FFF;
            }
        }
    }
    
}