*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    font-family: 'LatoWebLight';
    font-weight: normal;
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0 0 16px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

strong, b {
    font-weight: normal;
    font-family: LatoWebSemiBold;
}

textarea, input { outline: none; }

code {
    font-weight: 100;
    padding: 4px 8px;
    border: 1px solid #C5D4BE;
    font-size: .8em;
    border-radius: 5px;
    background: #E3EAE3;
    color: #545353;
}

// Utility Classes

///// Hide Utility
.Hide-Always {
    display: none !important;
}

@media (max-width: 33.9em) {
    .Hide-Below-Small {
        display: none !important;
    }
}
// Small devices (Landscape phones, 544px)
@media (max-width: 47.9em) {
    .Hide-Below-Medium {
        display: none !important;
    }
}

// Medium devices (Tablets, 768px)
@media (max-width: 61.9em) { 
    .Hide-Below-Large {
        display: none !important;
    }
}

// Large devices (Desktops, 992px)
@media (max-width: 74.9em) { 
    .Hide-Below-Extra {
        display: none !important;
    }
}
.Hide-Above-Mobile {
    display: none !important;
}
// Small devices (Landscape phones, 544px)
@media (min-width: 34em) {
    .Hide-Above-Small {
        display: none !important;
    }
}

// Medium devices (Tablets, 768px)
@media (min-width: 48em) { 
    .Hide-Above-Medium {
        display: none !important;
    }
}

// Large devices (Desktops, 992px)
@media (min-width: 62em) { 
    .Hide-Above-Large {
        display: none !important;
    }
}

// Extra large devices (Large desktops, 1200px)
@media (min-width: 75em) { 
    .Hide-Above-Extra {
        display: none !important;
    }
}

// Align Utility
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

// Clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

.block-height {
    line-height: 60px;
}