@import 'variables';

.rd-container {
  display: none;
  background-color: $light-ultra-green;
  padding: 10px;
  text-align: center;
  height: 240px;
  overflow: hidden;
  font-size: .88889em;
}
.rd-container-attachment {
    position: absolute;
    top: -240px !important;
    left: auto !important;
    right: 60px;
}
.rd-month {
  display: inline-block;
  margin-right: 25px;
}
.rd-month:last-child {
  margin-right: 0;
}
.rd-back,
.rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}
.rd-back[disabled],
.rd-next[disabled] {
  cursor: default;
}
.rd-back {
  float: left;
}
.rd-next {
  float: right;
}
.rd-back:before {
  display: block;
  content: '\2190';
}
.rd-next:before {
  display: block;
  content: '\2192';
}
.rd-day-body {
  cursor: pointer;
  text-align: center;
}
.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {
  cursor: pointer;
  background-color: $slick-green;
  color: #fff;
}
.rd-day-prev-month,
.rd-day-next-month {
  color: $slick-green;
}
.rd-day-disabled {
  cursor: default;
  color: #fcc;
}
.rd-time {
  position: relative;
  margin: 5px -10px 0px -10px;
  min-width: 80px;
}
.rd-time-list {
  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 160px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: $slick-green;
}
.rd-time-selected {
  padding: 5px;
}
.rd-time-option {
  padding: 5px;
}
.rd-day-concealed {
  visibility: hidden;
}