@import '../../dist/fonts/fonts';
@import 'grid';
@import 'base';
@import 'variables';


// Base styles for publish
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 16px;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -60px;
}
.page-wrap:after {
  content: "";
  display: block;
  height: 60px;
}

#content, .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

#content {
	flex: 1;
}
// Extra Large (Desktops, 1200px)
@media (min-width: 75em) {
    #content, .container {
        margin: 100px auto 0 auto;
        padding: 0 0;
    }
}

header {
    height: 320px;
}

// Small devices (Landscape phones, 544px)
@media (min-width: 34em) {
    header {
        height: 480px;
    }
}

.header-image {
    position: relative;
    height: 180px;
    margin-bottom: 1em;
}

// Anything that is designed to cover
.cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header {
    position: relative;

    #menu {
        position: absolute;
        left: -240px;
        top: 0;
        bottom: 0;
        width: 240px;
        background: rgba(255,255,255,.9);
        transition: left .25s ease-in-out;

        &.open {
            left: 0px;
        }
    }
    #logo {
        position: absolute;
        display: block;
        float: left;
        margin: 40px;
        text-decoration: none;

        #square {
            width: 40px;
            height: 40px;

            float: left;
        }

        #blog-name {
            font-size: .88889em;
            height: 40px;
            line-height: 40px;
            float: left;
            padding: 0px 14px 0px 10px;
            text-transform: uppercase;
            color: #FFF;
        }
    }

    nav {
        ul {
            list-style: none;
            margin: 100px 0px 0px 40px;
            padding: 0;

            li {
                a {
                    line-height: 1.6em;
                    font-size: 1em;
                    color: $dark-gray;
                }

                form {

                    input {
                        background: transparent;
                        border: none;
                        margin: 0;
                        padding: 0;
                        font-family: 'LatoWebLight';
                        font-size: 1em;
                        line-height: 1.6em;
                    }
                }

            }
        }
    }
}

#search-header {
    background-color: $light-gray;

    .container {
        margin: 0 auto;
        position: relative;

        input[type="text"] {
            border: none;
            background: transparent;
            margin: 0;
            padding: 0;
            line-height: 80px;
            font-size: 1.8em;
            font-family: 'LatoWebLight';
            display: block;
            width: 100%;
        }

        input[type="submit"] {
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 80px;
            background: url('../img/search.svg');
            border: none;
            text-indent: 100px;
            overflow: hidden;
            cursor: pointer;
        }
    }
}

.results-count {
    font-size: 1.2em;
    margin-bottom: $slick-gutter * 2;
}

article {
    margin-bottom: 100px;
    .title {
        h1 {
            font-size: 1.6em;
        }
        .publish-date {
            font-size: 1.2em;
        }
    }
    img {
        max-width: 100%;
        margin-bottom: $slick-gutter * 2;
        cursor: pointer;
    }
    pre {
        border: 1px solid #efefef;
    }
    .content {
        line-height: 1.8em;
    }
    .video-frame {
        width: 600px;
        margin: $slick-gutter auto;

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

    }

    #share {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
        li {
            display: inline-block;
            margin-right: $slick-gutter / 2;
            .social {
                display: block;
                width: 30px;
                height: 30px;
                text-indent: -1000px;
                overflow: hidden;
                &.linkedin {
                    background: url('../img/btn-social-linkedin.svg') 100%;
                }
                &.twitter {
                    background: url('../img/btn-social-twitter.svg') 100%;
                }
                &.facebook {
                    background: url('../img/btn-social-facebook.svg') 100%;
                }
            }
        }
    }

    .tags {
        .tag {
            display: inline-block;
            padding: 0 10px 0 10px;
            background: rgba(165, 226, 249, 0.92);
            margin-right: $slick-gutter / 2;
            margin-bottom: 14px;
            font-family: 'LatoWebLight';
            text-transform: none;
            line-height: 30px;
            color: #000;
        }
    }

    .author {
        line-height: 30px;
    }
}

@media (min-width: 48em) {
    article {
        .title {
            .publish-date {
                font-size: 1.6em;
                text-align: right;
            }
        }

        img {
            max-width: 80%;
        }
    }
}

@media (min-width: 75em) {
    article {
        img {
            max-width: 50%;
        }
    }
}

#pagination {
    margin-bottom: 100px;
}

#lightbox {
    transition: background-color .25s;
    text-align: center;
    position: fixed;
    overflow: hidden;

    img {
        max-width: 100%;
        max-height: 100%;
    }

    &.open {
        display: block;
        background-color: rgba(0,0,0,.85);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

footer {
    height: 60px;
    background: $light-gray;
    color: $dark-gray;

    .container {
        margin: 0 auto;
        height: 60px;
    }

    h5 {
        margin-bottom: 0;
    }
}

@media (min-width: 48em) {
    .powered-by {
        text-align: right;
    }
}